<h1>Ingresar</h1>

<div class="container">

    <form action="@Url.Action("Entrar", "Welcome")" method="post">
        <label>Nombre</label>
        <input type="text" name="user" value="" />
        <label>Contraseña</label>
        <input type="password" name="pass" value="" />
        <button type="submit" class="btn btn-danger">Ingresar</button>
    </form>

</div>

