<div class="container">
    <form>
        <div class="form-group">
            <label for="comentario">Escribe tus comentarios</label>
            <textarea class="form-control" id="comentario" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
