<h1>Sugerencias</h1>
<hr />

<div class="container">
    <form>
        <div class="form-group">
            <textarea class="form-control" id="comentario" rows="10"></textarea>
        </div>
        <button type="submit" class="btn colorBoton btn-block">Enviar</button>
    </form>
</div>
