<h1>Sugerencias</h1>
<hr />

<div class="caja">
    <div class="container">
        <form>
            <div class="form-group">
                <textarea class="form-control" id="comentario" rows="10" style="resize:none"></textarea>
            </div>
            <button type="submit" class="btn colorBoton btn-block">Enviar</button>
        </form>
    </div>
</div>