<div class="row" style="margin-top: 10px">
    <div class="col" style="text-align: left; margin-left:40px" ">
        <p style="font-style:italic; ">Delphos®</p>
    </div>
    <div class="col" style="text-align:right; margin-right:20px">
        <p>Fecha: @DateTime.Now</p>
    </div>
</div>





