<div class="row" style="margin-top: 10px">
    <div class="col" style="text-align: center;">
        <p style="font-style:italic; ">-- Versluys.cl --  </p>
    </div>
    <div class="col" style="text-align:center">
        <p>@DateTime.Now</p>
    </div>
</div>





