<nav class="navbar navbar-expand-lg navColor">
    <!-- Brand/logo -->
    <a class="navbar-brand">
        <img src="~/Otros/versluys.png" alt="logo" style="width:40px;">
        <label>Area Caja</label>
    </a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Venta")">Ventas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("VentaDelDia","Venta")">Ventas del dia</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="logoff" style="color:white">
            @Html.ActionLink("CerrarSession", "Cerrar", "CerrarSession")
        </li>
    </ul>
</nav>
