<nav class="navbar navbar-expand-lg navColor">
    <a class="navbar-brand" id="navbarText">
        <img src="~/Otros/versluys.png" alt="logo" style="width:40px;">
        <label>Panel de Control de Trabajadores</label>
    </a>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Usuario")">Lista de Usuario</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Nuevo","Usuario")">Nuevo Usuario</a>
        @*<li class="active">@Html.ActionLink("Nuevo Usuario", "Nuevo", "Usuario")</li>*@
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="logoff" style="color:white">
            @Html.ActionLink("CerrarSession", "Cerrar", "CerrarSession")
        </li>
    </ul>
</nav>
