<nav class="navbar navbar-expand-sm navColor">
    <!-- Brand/logo -->
    <a class="navbar-brand">
        <img src="~/Otros/versluys.png" alt="logo" style="width:40px;">
        <label>Panel de Control de Trabajadores</label>
    </a>
</nav>
