@{
    Layout = "~/Views/Shared/_LayoutCaja.cshtml";
}


@*Script de FontAwesome*@

<script src="https://kit.fontawesome.com/1204f88754.js" crossorigin="anonymous"></script>

<h1>Detalle Boleta N° 111111</h1>

<div class="container">



    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <h1>Numero de Boleta</h1>

            </div>

            <div class="col-md-4">
                <h1>Fecha                </h1>
            </div>
            <div class="col-md-4">
                <h1>Metodo de pago</h1>

            </div>
        </div>

        <div class="row">

            <div class="col-md-4">

                <input type="search" name="NumBoleta" value="" />

            </div>
            <div class="col-md-4">
                <input type="search" name="FechaBoleta" value="" />
            </div>
            <div class="col-md-4">

                <input type="search" name="MetodoPago" value="" />
            </div>
        </div>
        

        <br />

    </div>


    <br />

    <div class="container">
        <h1>Productos</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">SKU</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Subtotal</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Bebida CCU. 2.5 lt</td>
                    <td>15489519</td>
                    <td>3</td>
                    <td>2500</td>
                    <td>7500</td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Chocolate Trencito 250 g</td>
                    <td>254897</td>
                    <td>1</td>
                    <td>500</td>
                    <td>500</td>


                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Pan de Molde Bimbo</td>
                    <td>35978897</td>
                    <td>2</td>
                    <td>1250</td>
                    <td>2500</td>
                </tr>
            </tbody>
        </table>
    </div>



</div>
