@{
    Layout = "~/Views/Shared/_LayoutCaja.cshtml";
}


@*Script de FontAwesome*@

<script src="https://kit.fontawesome.com/1204f88754.js" crossorigin="anonymous"></script>

<h1>Resumen de ventas del dia</h1>

<div class="container">

    @* *@
    <div class="col-md-6">
        <input type="search" name="buscarboletafecha" value="" />
        <button class="btn btn-primary">Buscar Fecha</button>
    </div>


    <br />

    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Numero de Boleta</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Vendedor</th>
                    <th scope="col">Total Boleta</th>
                    <th scope="col">Ver Boleta</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>1234556</td>
                    <td>07/07/2020</td>
                    <td>Vendedor 3</td>
                    <td>54128</td>
                    <td align="center"><a class="fa fa-eye" href="@Url.Action("DetalleBoleta","Venta")"></a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>1234556</td>
                    <td>07/07/2020</td>
                    <td>Vendedor 5</td>
                    <td>54123448</td>
                    <td align="center"><a class="fa fa-eye" href="@Url.Action("DetalleBoleta","Venta")"></a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>12348786</td>
                    <td>07/07/2020</td>
                    <td>Vendedor 1</td>
                    <td>541sd28</td>
                    <td align="center"><a class="fa fa-eye" href="@Url.Action("DetalleBoleta","Venta")"></a></td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
