/*body, html {*/
    /*    background-image: url("../Otros/v2.jpg");
    background-repeat: repeat;
    background-attachment: scroll;*/
    /*height: 100%;
}*/

/*container {
    min-height: 100%;
    height: auto;
    height: 100%;
}*/

html {
    width: 1500px;
    min-height: 100%;
    position: relative;
    margin: auto;
}

body {
    margin: 0;
    margin-bottom: 150px;
}

table {
    text-align: left;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid;
    border-color: coral;
    border-radius: .25rem;
}

thead {
    color: white;
    background-color: coral
}

.fa-edit {
    color: black;
}

    .fa-edit:hover {
        color: coral;
    }

.fa-eye {
    color: black;
}

    .fa-eye:hover {
        color: coral;
    }

.colorBoton {
    background-color: coral;
    color: white
}

.colorBoton:hover {
    border-color:coral;
    background-color: white;
    color: coral;
}


.navColor {
    border-bottom: 2px solid;
    border-bottom: groove;
    border-radius: .20rem;
}

.barra {
    box-shadow: 2px 2px 5px #ff0000;
}



div {
    background-color: white
}


.footer {
    box-shadow: 2px 2px 5px #999;
    border-top: 2px initial;
    border-radius: .20rem;
    position: absolute;
    width: 100%;
}


hr {
    height: 30px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

    hr:before {
        display: block;
        content: "";
        height: 30px;
        margin-top: -31px;
        border-style: solid;
        border-color: #8c8b8b;
        border-width: 0 0 1px 0;
        border-radius: 20px;
    }


a {
    color:black
}

a:hover{
    color:red
}

a:link {
    text-decoration: none;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align:center;
    text-shadow: 1px 2px #999;
}

.caja {
    padding: 50px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #ff0000;
}

label {
    color: brown;
    font-weight: bold;
    cursor: default;
}

.error {
    font-size:small;
    font-style:italic;
    color: red;
}


div{
    background-color:cornsilk
}

body {
    background-color: cornsilk
}

body {
    background-color: cornsilk
}
