.fondo {
/*    background-image: url("../Otros/v2.jpg");
    background-repeat: repeat;
    background-attachment: scroll;*/
}

table {
    text-align: left;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid;
    border-color: coral;
    border-radius: .25rem;
}

thead {
    color: white;
    background-color: coral
}

.fa-edit {
    color: black;
}

.fa-edit:hover {
    color: coral;
}

.fa-eye {
    color: black;
}

.fa-eye:hover {
    color: coral;
}

.colorBoton {
    background-color: coral;
    color: white
}

.navColor {
    border: 2px solid;
    border-color: coral;
    border-radius: .20rem;
    background-color: chocolate;

}

div {
    background-color: white
}

.footer {
    background-color: chocolate;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}

hr {
    height: 1px;
    border: 2;
    color: red;
}
