@model Delphos.Models.Traspaso



<h1>Productos que contiene el traspaso</h1>
<hr />

<div class="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">1</th>
                <th scope="col">2</th>
                <th scope="col">3</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in ViewBag.detalles)
            {
                <tr >
                    <th>@u.Id</th>

                 
                </tr>
            }

        </tbody>
    </table>

</div>

<div class="row">
    <div class="col" style="text-align:right">
        <a class="btn btn-sm colorBoton col-sm-2" href="@Url.Action("Index", "Traspaso")"><i class="fas fa-arrow-left" style="padding-right:10px"></i>Volver</a>
    </div>
</div>