@{
    Layout = "~/Views/Shared/_LayoutBodega.cshtml";
}

<h1>Crear Traspasos</h1>
<hr />
<br />
<div class="row">
    <div class="col">
        <div style="text-align:center">
            <label for="buscar">Buscar Traspaso</label>
            <input type="search" name="buscar" value="" placeholder="Buscar..." />
        </div>
        <br />
        <div>
            <select class="custom-select" id="combobox">
                <option selected>Bodega de Origen</option>
                <option value="1">Opcion 1</option>
                <option value="2">Opcion 2</option>
            </select>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Nombre</th>
                    <th>Preccio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col">
        <br /><br /><br /><br /><br />
        <div style="text-align:center">
            <button>Agregar</button>
            <br /><br />
            <button>Quitar</button>
            <br /><br /><br />
            <button>Aceptar</button>
        </div>

    </div>

    <div class="col">
        <br /><br /><br />
        <div>
            <select class="custom-select" id="combobox2">
                <option selected>Bodega de Destino</option>
                <option value="1">Opcion 1</option>
                <option value="2">Opcion 2</option>
            </select>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Nombre</th>
                    <th>Preccio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
