@{
    Layout = "~/Views/Shared/_LayoutBodega.cshtml";
}

<h1>Vista Recepciones</h1>


<p>

    <input type="search" name="buscar" placeholder="receepcion...">
    <input type="submit" value="Buscar">

</p>

<div class="row">
    <div class="col">
        <input class="form-control" type="text" name="name" value="" placeholder="Orden de compra" />
    </div>
    <div class="col">
        <input class="form-control" type="text" name="name" value="" placeholder="Nombre proveedor" />
    </div>
    <div class="col">
        <input class="form-control" type="text" name="name"  value="" placeholder="N° de Factura" />
    </div>
</div>

<hr />

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
        </tr>
    </tbody>
</table>

<br /><br /><br />

<textarea name="comentarios" rows="10" cols="150">Escribe aquí tus comentarios</textarea>

<br /><br />

<button>Aprobar</button>
<button>Rechazar</button>