@{
    Layout = "~/Views/Shared/_LayoutBodega.cshtml";
}

<h1>Vista Recepciones</h1>


<p>

    <input type="search" name="buscar" placeholder="Buscar...">
    <input type="submit" value="Buscar">

</p>

<div class="row">
    <div class="col">
        <label for="n1">Orden de compra</label>
        <input class="form-control" type="text" name="n1" value="" placeholder="Orden de compra" />
    </div>
    <div class="col">
        <label for="n2">Nombre proveedor</label>
        <input class="form-control" type="text" name="n2" value="" placeholder="Nombre proveedor" />
    </div>
    <div class="col">
        <label for="n3">N° de Factura</label>
        <input class="form-control" type="text" name="n3" value="" placeholder="000000" disabled />
    </div>
</div>

<hr />

<table class="table">
    <thead class="table table-striped">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
        </tr>
    </tbody>
</table>

<br />
<br />
<br />

<div class="form-group">
    <label for="comentario">Observaciones</label>
    <textarea class="form-control" style="resize:none" id="comentario" rows="10"></textarea>
</div>

<br />
<br />

<div class="row">
    <div class="col" style="text-align:center">
        <button style="">Aprobar</button>
    </div>
    <div class="col" style="text-align:center">
        <button>Rechazar</button>
    </div>
</div>
