@{
    Layout = "~/Views/Shared/_LayoutBodega.cshtml";
}

<h1>Vista Recepciones</h1>


<p>

    <input type="search" name="buscar" placeholder="receepcion...">
    <input type="submit" value="Buscar">

</p>