@{
    Layout = "~/Views/Shared/_LayoutCaja.cshtml";
}


@*Script de FontAwesome*@


<h1>Resumen de ventas del dia</h1>
<hr />

<div class="row">
    <div class="col">
        <input class="form-control" type="search" name="buscarboletafecha" value="" />
    </div>
    <div class="col">
        <button class="btn colorBoton">Buscar Fecha</button>
    </div>
    <div class="col"></div>
</div>



    <br />

    <div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Numero de Boleta</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Vendedor</th>
                    <th scope="col">Total Boleta</th>
                    <th scope="col">Ver Boleta</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>1234556</td>
                    <td>07/07/2020</td>
                    <td>Vendedor 3</td>
                    <td>54128</td>
                    <td align="center"><a class="fa fa-eye" href="@Url.Action("DetalleBoleta","Venta")"></a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>1234556</td>
                    <td>07/07/2020</td>
                    <td>Vendedor 5</td>
                    <td>54123448</td>
                    <td align="center"><a class="fa fa-eye" href="@Url.Action("DetalleBoleta","Venta")"></a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>12348786</td>
                    <td>07/07/2020</td>
                    <td>Vendedor 1</td>
                    <td>541sd28</td>
                    <td align="center"><a class="fa fa-eye" href="@Url.Action("DetalleBoleta","Venta")"></a></td>
                </tr>
            </tbody>
        </table>
    </div>

