<h1>Bienvenidos</h1>
<hr />
<div class="caja">
    <p>Sistema de desarrollo informatico DELPHOS creado para satisfacer las necesidades del los trabajadores de versluys</p>
    <p>Por Favor Ingresa con tu Nombre de Usuario y Contraseña para comenzar a utilizar el programa</p>
    <p>(no olvides dejar tus sugerencias)</p>
</div>

