
@{
    Layout = "~/Views/Shared/_LayoutComercial.cshtml";
}
<h1>Ver Proveedor</h1>
<hr />
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form method="post" action="@Url.Action("Editar", "Usuario")">

            <div class="form-group row">
                <label for="Rut" class="col-sm-2 col-form-label">Rut</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Rut" name="Rut">
                </div>
            </div>

            <div class="form-group row">
                <label for="Nombre" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Nombre" name="Nombre">
                </div>
            </div>

            <div class="form-group row">
                <label for="Giro" class="col-sm-2 col-form-label">Giro</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Giro" name="Giro">
                </div>
            </div>

            <div class="form-group row">
                <label for="RazonSocial" class="col-sm-2 col-form-label">Razon Social</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="RazonSocial" name="RazonSocial">
                </div>
            </div>
            <div class="form-group row">
                <label for="Email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Email" name="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="Telefono" class="col-sm-2 col-form-label">Telefono</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Telefono" name="Telefono">
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col">
                    <a class="btn colorBoton" href="@Url.Action("Index", "Proveedor")">Volver</a>
                </div>

                <div class="col" style="text-align:right">
                    <button type="submit" class="btn colorBoton">Confirmar</button>
                </div>
            </div>

        </form>
    </div>
    <div class="col-3"></div>
</div>